[2018-03-13 02:18] dromerobarria opened #1 "Problem CocoaPods SideMenuSwift"
Unable to find a specification for `SideMenuSwift`

[2018-03-13 05:16] kukushi commented on #1
@dromerobarria
`SideMenuSwift` is listing on https://cocoapods.org/?q=SideMenuswift.

Can you try `pod repo update master` before installing the dependency?

[2018-03-13 13:25] dromerobarria commented on #1
My bad, you were totally right.
Thanks very much.

[2018-03-13 13:25] #1 closed

[2018-03-14 14:08] listenzz opened #2 "statusBar 不恰当隐藏"
当 menu direction 为 left 时，在右边沿滑动，状态栏会隐藏，松开手后复原，当  menu direction 为 right 时，在左边沿滑动也一样。

[2018-03-14 14:56] kukushi commented on #2
@listenzz
开发的时候，测试下来发现滑动开始的时候是比较好的改变状态栏的时机。看了市面上的应用，Bear 也是这么处理的，也比较自然。

你是觉得哪里不恰当吗？

[2018-03-14 15:11] listenzz commented on #2
比如 side menu 在左边，在左边沿往右滑动时，可以隐藏状态栏，但是从右边沿往左滑时，我认为不应该隐藏状态栏，因为此时右边并没有 menu。

[2018-03-14 15:46] kukushi commented on #2
@listenzz
哦，确实。这是一个 BUG。

[2018-03-15 11:48] kukushi commented on #2
@listenzz
修好了，提交在了 develop 分支。如果有时间的话可以看下。
感谢你的反馈。

[2018-03-15 15:00] listenzz commented on #2
@kukushi 👌，已无此问题

[2018-03-15 15:20] #2 closed

[2018-03-26 18:41] dromerobarria opened #3 "Push View"
Hi, really nice side menu.

I have a problem when I push to a view controller ,I can acces a view through the side menu or with a push , but when i call the side menu from a push view  with the "sm_sideMenuController" it wont work , only when i call the view  from the side menu i cant keet calling the side menu.

Thanks

[2018-03-27 03:40] kukushi commented on #3
Sorry, I don’t quite understand how you are using it.
It will be helpful if you can explain it with code.

On 27 Mar 2018, 2:42 AM +0800, Daniel Romero <notifications@github.com>, wrote:

[2018-03-30 05:20] kukushi commented on #3
@dromerobarria Hello?

[2018-03-31 12:04] kukushi commented on #3
OK, it seems that I had figured out where the issue is.

The `sideMenuController` will return `nil` if you call it inside the `viewDidLoad()`  in the pushed view controller. The cause is the `navigationController` is returning `nil` in the `viewDidLoad` because the view controller is not yet inserted into the navigation controller. Therefore, `sideMenuController` will return `nil`, too.

[2018-03-31 16:13] dromerobarria commented on #3
Sorry for the late answer and thanks for the responses.

My main problem is in the flow of the app , I have a first view and a second view,  I call the second view with a navigationController from the first view (with a show and the second view has navigation), and in both view Im must be able to call the SideMenu, but for reason it wont work in the second view and when i call the method of the Si

[2018-03-31 16:38] kukushi commented on #3
@dromerobarria
Oh. I also found that there was an issue may freeze the app when getting the `sideMenuController` which was resolved in the new version (0.4.0).
Give it a try.

[2018-04-02 17:36] #3 closed

[2018-06-15 12:08] behaxe opened #4 "Tabbed Bar Views open Menu by a Navigation Left Item Problem"
Thank you for this awesome framework.
I have just use it in a project, and here is my problem.
I'm using this hierarchy. Navigation Controller --> TabBarController --> Three TabbedBarViews.

I have the same navigation menu button for all my tabbed bars, but i have to instantiate as initial Controller my Navigation Controller.
When I try to appear the menu from my second or my third view by clickin

[2018-06-15 12:50] kukushi commented on #4
Sure. A screenshot will be helpful.

[2018-06-17 21:54] theMoe opened #5 "Does it work with Swift 4.1?"
Hi,

your side menu looks pretty good and simpel :). Doest it work with Swift 4.1?

Bye

Moe

[2018-06-18 04:58] kukushi commented on #5
@theMoe Yes, it supports both Swift 4.0 and Swift 4.1.x .

[2018-06-18 04:59] #5 closed

[2018-06-18 05:39] behaxe commented on #4
Here is my hierarchy :
![captura de pantalla 2018-06-18 a las 7 33 40](https://user-images.githubusercontent.com/32493617/41519801-80ef2cd2-72ca-11e8-8767-5a4e91a3cbf2.png)

Here is the code im trying to use.  The starting controller should be the navigation controller, to show correctly the Tab Bar and the Navigation bar.

![captura de pantalla 2018-06-18 a las 7 34 18](https://user-images.github

[2018-06-18 14:54] kukushi commented on #4
@behaxe I'm afraid you're not using this framework in the right way.
If you prefer the storyboard approach, I would recommend you read the **Usage-Storyboard** part of the README once again.
Meanwhile, you should not put the `let contentViewController ...` calls inside the menu action. The menu action is triggered every time the button is tapped, thus the `sideMenuController.revealMenu()` should b

[2018-06-19 05:55] behaxe commented on #4
@kukushi thank you for your answer, you were totally rigth. I was declaring in a wrong place the ContentViewController and the startingView.
Thanks for your time contributing to the Swift Devs! 👍 💯

[2018-06-19 08:36] kukushi commented on #4
@behaxe If you have any other problem, feel free to let me know.

[2018-06-19 08:36] #4 closed

[2018-06-29 10:57] behaxe opened #6 "Is it possible to navigate to a special tab bar item?"
Hello there again, im continuing using your great framework.
I have found an issue in my project. I want to move from an imageTapped in the SideMenu, but Im only able to present my startingViewController(FirstView, with his own navigationController and TabBarController as FatherViews)

Do you think it is possible? Can you give me any idea?
Thanks for your time.

![captura de pantalla 2018-06-29 a

[2018-06-29 11:51] kukushi commented on #6
I'm sorry. I can't figure out what you mean. Can you explain more detail?

[2018-06-29 12:28] behaxe commented on #6
I want to go to my second tabbed bar view.
For instantiating my views, first i need to set the content view. In this case this is going to be my navigation controller, because it is the father. Then i instantiate the rootController.
I want to click on the User Image of the SideMenuController and go to my Second TabBarView.

My problem is that when i instantiate the father of the views, i must tell

[2018-06-29 13:51] kukushi commented on #6
Oh, I see.
You can retrieve the navigation controller from the `sideMenuController` via the `contentViewController`. Then, get the child tab bar controller from the navigation controller. Finally, switch the view controller index of the tab bar controller. And all the above  can be done on the action triggered by the view in the side menu.

[2018-07-02 06:28] behaxe commented on #6
I resolve it via Notifications, but your time is so appreciated. Thanks for it.
Keep contributing to the Swift Dev World!
👍

[2018-07-02 06:28] #6 closed

[2018-07-02 19:04] Idomo opened #7 "Problems with swipe to delete in UITableView and support in RTL"
Hi,
I just downloaded the library (what was very easy, surprisingly) and I'm facing 2 problems:
1) Swipe to delete in UITableView is not working at all because the menu is opening on swipe from everywhere on the screen (it should be only on the area that close to the menu side, for example, 20px).

2) The menu doesn't supporting RTL languages, it's stay on right/left in any language, what makes ba

[2018-07-03 02:48] kukushi commented on #7
Thanks for using.

1. I will take a closer look on it.
2. Maybe we can change the side menu direction according to the layout direction?
We can get the diirection from the system:
[code]

[2018-07-03 08:00] Idomo commented on #7
@kukushi
1. You can take a look on this library: https://github.com/arturdev/AMSlideMenu
They have took care on this as it mentioned here: https://github.com/arturdev/AMSlideMenu#ideas
Maybe it will help you to think about solution for this problem.

2. Yes, it should be simple.
It will be nice if you'll add `SideMenuController.preferences.basic.direction = .auto` and also add this as default (so

[2018-07-03 14:12] kukushi commented on #7
@Idomo
Great suggestions!
I will implement that when I grab some time.
Maybe adding a new option like `recognizeSemanticContentLayoutDirection: Bool` will be a better solution.  It can apply to the default `right` direction, too.

[2018-07-04 08:16] itchix opened #8 "View doesn't display correctly"
Hello,

First thanks for your library. I've got some issue tu display the drawer.
I used the library programmatically.
This is the hierarchy of my view controllers :
UINavigationController -> UIRootCollectionViewController -> (DrawerViewController, ContentVieController)

![screen shot 2018-07-04 at 09 59 24](https://user-images.githubusercontent.com/2846894/42264942-6b2ae260-7f72-11e8-8334-2f54cf9

[2018-07-04 08:16] itchix commented on #8
[code]

[2018-07-04 14:07] kukushi commented on #8
Can this hierarchy meet your needs?

| - SideMenuController (also RootViewController)
| - - DrawerViewController
| - - UINavigationController
| - - - - UIRootCollectionViewController
| - - - - - - ContentVieController

[2018-07-04 15:43] itchix commented on #8
Indeed, it suits my needs and it works!
Thanks a lot :)

[2018-07-04 15:43] #8 closed

[2018-07-06 11:26] milap-eww opened #9 "viewdidLoad()"
want `viewdidload()` to be called every-time it selects a viewcontroller from sidemenu

[2018-07-06 11:35] kukushi commented on #9
If you don't use the caching and initializes a new view controller when switching content, then the `viewDidLoad()` would be called as you wish. But it is actually not a very good practice, I would recommend you using the `viewDidAppear` as alternatives.

[2018-07-07 10:34] Idomo commented on #7
Hi @kukushi, There is some progress with what we talked about?
I'd like to start using the library and create the menu, but I can't do that while those problems are still happen...

[2018-07-07 11:39] kukushi commented on #7
@Idomo
Yeap, You can test it on the `develop` branch.

I had checked the AMSlideMenu's implementation. AMSlideMenu handles the panning via many conditions with the panning directions and the view on touching, like `UISlider` or `UITableViewCell`. IMO, it's too ad-hoc and only work on certain cases.

Therefore, I simply disable the pan gesture recognizer whenever there is another gesture recognizer

[2018-07-08 00:27] isaiasmac opened #10 "UISplitViewController not showing the Detail View"
I have this code:
`self.window = UIWindow(frame: UIScreen.main.bounds)`
`let splitViewController = UISplitViewController()`
`let navCtrl = UINavigationController(rootViewController: SecondVC())`
`splitViewController.viewControllers = [SideMenuController(contentViewController: navCtrl, menuViewController: ListMenuVC()), SecondChildVC()]`
`splitViewController.preferredDisplayMode = .allVisible`
`sel

[2018-07-08 03:56] kukushi commented on #10
I have not yet tested on the `UISplitViewController` before. I will recommend you use the `SideMenuController` as the root view controller.

[code]

[2018-07-08 06:42] kukushi commented on #10
@isaiasmac

No warnings found on my side. It's my snippet for testing.

[code]

[2018-07-08 12:53] F4rid opened #11 "Back button instead of menu"
Hi
how i can add back button instead of menu button?!!!

i want when click to back button, come back to first page

[2018-07-08 14:18] kukushi commented on #11
`SideMenu` don't have any limitations over how to reveal the menu.
For example, in a navigation controller, you can use a menu button as the left navigation item and it will automatically change to a back button when a new view controller is pushed.

[2018-07-08 16:55] kukushi commented on #7
@Idomo
It's now shipped with 0.4.1.

[2018-07-08 20:40] Idomo commented on #7
@kukushi
The auto direction works great!
I'm waiting for the swipe fixing, it's still very important part in the iOS UI/UX as you know and it's not impossible thing to do as we saw in the library that I mentioned before (https://github.com/arturdev/AMSlideMenu#ideas)

[2018-07-08 22:12] isaiasmac commented on #11
I'm using this as a subclass of all UIViewController in my project:
[code]

[2018-07-08 22:34] Idomo commented on #11
@isaiasmac If you are using `NavigationViewController` so you'll get the `< back` button automatically when you'll perform some `Show` segue.
If you'll position the menu button on the left side (if you'r using LTR language) it will do the work for you.

[2018-07-09 04:06] F4rid commented on #11
i looking for somthing like that
![slice](https://user-images.githubusercontent.com/19515037/42430232-264fad3a-8353-11e8-9adb-7793cbaf5d3b.png)

[2018-07-09 05:14] kukushi commented on #7
@Idomo
AMSlideMenu's approach is too ad-hoc, that's if we want to support both swipes right to reveal the menu and swipe left to delete the cell, we have to add many conditions to handle this case. The problem is, if we want to handle more gesture collision cases, we need to add more conditions. There will always be some cases that we can't handle, like custom `UIScrollView` subclass.  Thus, I ma

[2018-07-09 08:04] kukushi commented on #11
@F4rid
I don't know about your view controller hierarchy, but the action of the button is always under your control.

[2018-07-09 09:16] F4rid commented on #11
@kukushi I'm really confused
i want to navigate between screen's when click on side menu items and just see side menu in home screen.
consider i clicked on second item in side menu and i went to  testScreen. now i want to have a back button when click on it back to home screen.

[2018-07-09 10:00] Idomo commented on #7
@kukushi  I think you should mention this explanation in `README.md` file, it took me a while to find this preference as the one that prevent from my app to showing in another orientations except `portrait`.
You wort (by mistake I'm guessing) `SideMenuController.preferences.basic.enablePanGesture` twice and didn't mentioned the `SideMenuController.preferences.basic.supportedOrientations` option in

[2018-07-09 10:15] F4rid commented on #11
@kukushi
thanks a lot but it not work!
i already use this code but when i click on back button screen becomes black and not show any thing

[2018-07-09 13:31] kukushi commented on #11
@F4rid
Is the view controller properly initialized?

[2018-07-09 13:32] kukushi commented on #7
@Idomo Sorry. I will update the readme.

[2018-07-09 18:14] F4rid commented on #11
@kukushi
yes

[2018-07-10 03:46] kukushi commented on #11
@F4rid That's wired. Can you show me the code?

[2018-07-10 10:09] F4rid commented on #11
@kukushi i use your example project, just in WorkWithOtherViewController.swift i add new back button to navigation bar and set action of that to `sideMenuController.contentViewController = ViewController`

[2018-07-11 10:48] #7 closed

[2018-07-12 13:11] F4rid commented on #11
i solve this by adding navogation controller before side menu controller

[2018-07-12 17:01] kukushi commented on #11
Sorry for the late reply.
Glad to see you solve it by yourself.

[2018-07-12 17:01] #11 closed

[2018-07-12 21:25] edon2005 opened #12 "Left and right Menu"
HI guys,

Is it possible to use one menu on the left side and another on the right ?

Thanks

[2018-07-13 08:05] kukushi commented on #12
I'm afraid not.
`SideMenu` is designed to have only one side menu view.

[2018-07-13 08:06] edon2005 commented on #12
Oh... It is sad... DO you plan to improve it ? :)

[2018-07-13 08:16] kukushi commented on #12
I'm sorry but there is no plan to implement it.
Two side menu on both sides is rarely used in a real-world app.

[2018-07-14 04:26] #12 closed, assigned to nobody

[2018-07-19 08:15] #9 closed

[2018-07-19 08:15] #10 closed, assigned to nobody

[2018-08-02 14:29] milap-eww commented on #9
But how, can you give me an example for that?

[2018-08-03 05:25] kukushi commented on #9
Let the `viewDidLoad` called each time when selected:

    sideMenuController.contentController = YourViewController()

----

You can use a Bool property to control some part of the `viewDidAppear` to be called only once.

[2018-08-03 06:46] johnlpm opened #13 "Support for Objective C"
I try to implement side menu on my objective c based project and it works fine on pan gesture. I create bridging header to call revealMenu method on a button , but it doesn't work ..

I double check the file and I see this line of code

[code]

Please give me ideas to work on it.

[2018-08-03 10:26] kukushi commented on #13
The ObjC is not supported now. I will add it when I have some free time.
PR is always welcomed.

[2018-08-04 04:26] kukushi commented on #13
@johnlpm
It turns out that if we want to port this framework to Objective-C, some Swift language needed to be disabled, like `struct`.  Thus, I decide not to support Objective-C and I will recommend you using some other Objective-C side menu alternatives or adding a Swift bridge inside your project.

[2018-08-06 04:43] johnlpm commented on #13
@kukushi Thanks for quick response. I have try SWRevealViewController, but it was no longer maintained. That's why I look for swift based project and bridge it to my Obj-C based app.
Luckily, I look to your sample project and try this.
 @objc func menuButtonDidClicked(_ sender: Any) {

[code]

And it works fine now.

[2018-08-07 01:46] #13 closed

[2018-08-07 11:51] Banck opened #14 "Animate setContentViewController"
Hello!
It would be quite great if setContentViewController will be accompanied with animation.

[2018-08-07 16:52] kukushi commented on #14
I did considered add some animation option on switching content view controller. As I planned, there will be some built in animations and custom animation which allow customization.

Which kind animation do you want?
On Aug 7, 2018, 7:51 PM +0800, Sakhabaev Egor <notifications@github.com>, wrote:

[2018-08-07 17:45] Banck commented on #14
There definitely should be fade in animation. And you can add somw other animation, like zoom, slide/cover, like push and etc.

https://camo.githubusercontent.com/d1829c3cbb5e7c49b109e458ef95ec9079650d69/68747470733a2f2f63646e2e7261776769742e636f6d2f6c6b7a68616f2f4865726f2f656262336632632f5265736f75726365732f64656661756c74416e696d6174696f6e73322e737667

Thanks.

[2018-08-09 08:37] kukushi commented on #14
Most works are done. You can try it on the `feature/transition-animation` branch.
It provides standard container view controller transition delegate method and a convenient class for adopting the built-in animation options.

[2018-08-16 11:22] veer9002 opened #15 "Service Call"
Hi,
e.g., I have menu like 1,2,3,4,5.
When I select any option I got the container VC and service is Call only first time. I want service called everytime while select the option. Now, right now i have sync option if 5. So when I tap on 5 then service is called first time only. When I repeatedly tap on option 5 then No service is called.
Why?

Thanks

[2018-08-16 13:34] kukushi commented on #15
I’m sorry but I don’t know what you mean by service call.
On Aug 16, 2018, 7:22 PM +0800, Manish Sharma <notifications@github.com>, wrote:

[2018-08-16 13:52] fredericdnd opened #16 "Menu not displayed as expecting"
Hello,

First, thanks for your library !

I'm encountering an issue with the menu. It is embedded in a navigation controller and contains a segmented control and a table view. The menu is width `UIScreen.main.bounds.width - 44.0`, but the menu seems to be 375 pixels large (the width of my iPhone screen).

<img src="https://user-images.githubusercontent.com/14300551/44212591-03f92680-a16c-11e8-8d67

[2018-08-16 16:10] kukushi commented on #16
Do you setting the width of side menu before it’s initialized?
On Aug 16, 2018, 9:52 PM +0800, Frédéric Dinand <notifications@github.com>, wrote:

[2018-08-16 16:14] fredericdnd commented on #16
Indeed, the preferences were not set before SideMenuController was initialized, but this not resolved the problem.

[2018-08-17 07:12] fredericdnd commented on #16
The SideMenuController preferences are set up in the AppDelegate. Right after setting up theses preferences, I set the window rootViewController to my SideMenuController.

The contentViewController and the menuViewController are both set up in a storyboard, is there something special to do when we use storyboards with SideMenuController ?

[2018-08-17 07:51] kukushi commented on #15
@veer9002
According to your description, the service call is triggered from the menu. And in general case, the user is responsible for building the menu view controller, like the example app. I think maybe some condition prevent the service call from called again.

[2018-08-17 07:55] kukushi commented on #16
The setup seems fine while I have never do it that way. I will try it.

[2018-08-17 09:32] fredericdnd commented on #16
Thanks for your help, I will continue to search a solution.

[2018-08-18 05:25] veer9002 commented on #15
Ok! Thank you so much for your quick replies.

[2018-08-18 08:48] #15 closed

[2018-08-21 12:44] Sinisimbu opened #17 "SideMenuController without cache"
Hi,

This library is very useful for me.

This is not an issue. I want to load ViewController without cache , that means i want to load viewController each and every time from viewDidLoad when clicking on side menu.

[2018-08-21 14:01] kukushi commented on #17
By creating a new content view controller and setting side menu's `contentViewController` directly, no cache will be used.

[code]

[2018-08-31 15:18] ichina opened #18 "unused symbol"
https://github.com/kukushi/SideMenu/blob/60b03ccb533d64264411ece609e38abd0b604f64/Example/MenuViewController.swift#L109

[2018-08-31 15:54] kukushi commented on #18
Sorry for the obvious mistake.
It's now fixed.

[2018-08-31 15:54] #18 closed

[2018-09-04 12:18] ichina opened #19 "is it possible to use this SideMenu in both directions simultaneously?"

[2018-09-04 14:41] kukushi commented on #19
The short answer is No.

[2018-09-04 14:45] ichina commented on #19
i see

[2018-09-04 14:45] #19 closed

[2018-09-12 12:10] fredericdnd commented on #16
Hey ! I found a solution by adding a left constraint to the menu :

<img src="https://user-images.githubusercontent.com/14300551/45424028-80acf100-b695-11e8-9bb6-14f242769604.png" width="250">

[2018-09-12 12:11] #16 closed

[2018-09-14 20:23] zeinab-reda opened #20 "Push Controller from side menu"
how can push view controller from side menu ? it's only presenting it !!

[2018-09-15 03:37] kukushi commented on #20
Use the Navigation controller as the content view controller, you can push a child view controller into the navigation stack.

[2018-09-15 06:22] ChanakyaHirpara opened #21 "how to change swipegesture property?"
I am using XLPagerTabStrip along with this library, so when i try to open left menu by sliding from left it wont open menu. What to do?

[2018-09-15 07:38] kukushi commented on #21
Hello, can you provide a simple demo for reproducing?
On Sep 15, 2018, 2:22 PM +0800, ChanakyaHirpara <notifications@github.com>, wrote:

[2018-09-15 07:54] ChanakyaHirpara commented on #21
Following is link of code. to check it click ==> Login By OTP ==> Submit ==> you will be redirected to home screen where i've used XLPagerTabStrip along with this library. So when i try to swipe from left menu does not appear.

https://www.dropbox.com/s/13mab2t8vy32paz/CreamBell.zip?dl=0

Thanks for your reply.
Regards,
Chanakya

[2018-09-15 09:47] ChanakyaHirpara commented on #21
Hi, Have you checked?

On Sat, Sep 15, 2018 at 1:08 PM Xing He <notifications@github.com> wrote:

--
Regards,
Chanakya

[2018-09-15 10:49] kukushi commented on #21
@ChanakyaHirpara
Found several compile errors in Xcode 10
![screen shot 2018-09-15 at 6 48 53 pm](https://user-images.githubusercontent.com/2424654/45585505-0049f280-b918-11e8-848a-1c225a75aea4.png)
.

[2018-09-15 14:42] zeinab-reda commented on #20
i do as in example that but cannot push controller from side menu :/

[2018-09-15 14:43] zeinab-reda commented on #20
like that
" self.navigationController?.present(SideMenuController(contentViewController: UINavigationController(rootViewController: HomeViewController.create()),menuViewController: ClientSideMenuTableViewController.create()), animated: true, completion: nil)  "

[2018-09-16 03:35] kukushi commented on #21
@ChanakyaHirpara
Ok, I found out why. There is a gesture collision and SideMenu will always respect other gestures.
There is no good solution in this case.

[2018-09-16 03:37] kukushi commented on #20
What you want is to push a SideMenuController?

[2018-09-16 05:05] ChanakyaHirpara commented on #21
can i forcefully use gesture in particular area ?

On Sun, Sep 16, 2018 at 9:06 AM Xing He <notifications@github.com> wrote:

--
Regards,
Chanakya

[2018-09-16 06:27] ChanakyaHirpara commented on #21
Now i fixed that issue.
Thanks for your reply/attention.

On Sun, Sep 16, 2018 at 10:35 AM Chanakya Hirpara <
chanakya.hirpara@gmail.com> wrote:

--
Regards,
Chanakya

[2018-09-16 07:06] kukushi commented on #21
How do you fix that？
On Sep 16, 2018, 2:27 PM +0800, ChanakyaHirpara <notifications@github.com>, wrote:

[2018-09-18 04:26] Smiller193 opened #22 "Programatic example"
I see stroyboard everywhere but I see no programatic example. Can anyone point me in the direction of now

[2018-09-18 04:38] kukushi commented on #22
Check it here.
https://github.com/kukushi/SideMenu/blob/bfdf97a206ce825711262c63fd889442d5545b02/Example/OtherExampleViewController.swift#L28

[2018-09-18 15:18] Smiller193 commented on #22
yeah so im lost do i have to create my own menu controller and what is the content view controller

[2018-09-18 16:06] kukushi commented on #22
Yes. It's described in the Readme.

 To start the app with `SideMenu` programmatically:
import UIKit
import SideMenuSwift
// If you are using Carthage, uses `import SideMenu`

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    @objc func applicationDidFinishLaunching(_ application: UIApplication) {
        let contentViewController = ...

[2018-09-18 16:08] Smiller193 commented on #22
oh okay that makes sense

[2018-09-18 16:09] Smiller193 commented on #22
im going to try and do that right now and let you know how it goes

[2018-09-19 17:10] Smiller193 commented on #22
okay it seems to be working however when I display the view controller for some reason it is messed up

[2018-09-23 02:38] Smiller193 commented on #22
upgraded to xCode10 and menu just wont show any more

[2018-09-23 18:57] MarcoSDomingues opened #24 "isInitiatedFromStoryboard as a Configuration Preference"
Hi! First of all, thanks for sharing your controller!

Currently, the code assumes the use of segues if the view controller was instantiated by a storyboard, which may not be necessarily true (i.e architecture that uses a storyboard for each view controller, but no segues):

[code]

and

[code]

Having the option to set this value by a configuration property or have the property declared as `open`

[2018-09-24 10:02] kukushi commented on #24
Do you mean initialize the view controllers from IB while assigning them via code? e.g.

[code]

[2018-09-26 12:42] #21 closed

[2018-09-29 20:17] Edwin-iter commented on #20
I have the same problem! I need to push another view controller. This is my example (button on the menu): "self.navigationController?.pushViewController(HistoryVC(), animated: true)"

[2018-09-30 10:59] kukushi commented on #20
@zeinab-reda @kukushi Can you provide a simple demo?

[2018-10-13 14:18] Smiller193 commented on #22
there is an issue the first time I run the app it never presents the sidemenu

[2018-10-13 16:16] kukushi commented on #22
@Smiller193 It works fine on my own usage. How to reproduce it?

[2018-10-13 17:46] Smiller193 commented on #22
I mean i don't do anything special I follow the tutorial for the most part. This is how i configure it in my appdelegate.

        func configureInitialRootViewController(for window: UIWindow?) {
           // print("Look for current user here")
           // print(Auth.auth().currentUser ?? "")
             UserDefaults.standard.set(false, forKey: UserDefaultsKeys.isFirstIntro.rawValue)

[2018-10-13 17:58] Smiller193 commented on #22
Typically when i first open the app it doesn't work but if i close it and reopen it works

[2018-10-29 08:40] mp3il opened #25 "[Question] is it possible to disable menu in some screens?"
Hi,

Is it possible to "disable" the menu so the gestures won't open the menu?

[2018-11-07 10:11] #25 closed

[2018-11-26 12:18] kittu4ios opened #26 "Set Root view controller"
Hi,
Can I set the selected view controller as Root view controller? i.e all other view controllers want to remove from the view controller stack

[2018-11-26 15:15] kukushi commented on #26
I don't think it's the right approach.
Once you set the selected view controller as the root view controller, the side menu controller will no longer be retained and will be released.

[2018-12-12 12:58] FominNickolai opened #27 "Add shadow to ViewController"
Hi guys, is it possible to add shadow to ViewController when menu position is SideBySide?
![ios-simulator-screen-shot-11-aug-2014-13 46 34](https://user-images.githubusercontent.com/11337735/49871311-80e89400-fe1e-11e8-919d-33bd381015fa.png)

[2018-12-13 13:19] kukushi commented on #27
The shadow was removed as design.
When using `sideBySide`, the two views are at the same level, thus there is no shadow.

[2018-12-19 22:20] Haidarooz opened #28 "2 Side menus in different pages"
Hello kukushi, thank you for the great work,

Is it possible to have a second side menu in another page? my app has one side menu in the main page and it opens from the left.. I want to add another side menu in the next page but it should slide from the right.. and have different content.

Possible?

Thank you

[2018-12-20 03:33] #27 closed

[2018-12-20 03:35] kukushi commented on #28
Duplicate of #19.

[2018-12-20 03:37] #28 closed

[2018-12-24 05:37] UzumakiAlfredo commented on #20
I have this problem too!

I want to push to another controller when I am on one of contentViewControllers of the side menu.

[2018-12-25 07:04] kukushi commented on #20
@UzumakiAlfredo
Asses the content view controller then do anything you want.
[code]

[2018-12-25 07:05] #14 closed

[2018-12-25 07:05] #22 closed

[2019-01-19 14:18] suhfang opened #29 "Slow first time menu is revealed with subviews added"
Hi all,

I just added SideMenu's cocoa pod to mySwift 4.2 iOS project. I followed the documentation to the latter.

The experience I have is the fist time I call `sideMenuController.revealMenu()` is that it's  really slow when views have been added on the `sideMenuController`.  It  works smoothly afterwards. It tried calling this function asynchronously thinking it could work, but nothing improved

[2019-01-19 14:48] kukushi commented on #29
@suhazinwi
I think you may have put some heavy work on the `viewDidLoad()` or `init()` of the menu/content view controller, which will slow down the side menu.

[2019-01-19 18:08] kukushi commented on #29
There must be some time consuming operation during the first revealing, the time profiler instrument may help.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-01-19 19:24] #29 closed, assigned to nobody

[2019-01-26 06:34] SimbuCA opened #30 "Sidemenu direction is not working properly first time in arabic language(RTL)"
I changed the language in appdelegate to arabic. The menu icon in the navigation bar changed to right side is fine. When clicking on the menu icon, the side menu shows in left side with misaligned. I run second time its working fine. I am using to change language to arabic using https://github.com/Abedalkareem/LanguageManager-iOS.

[2019-01-30 15:51] FerryAWijayanto opened #31 "Bug When inherit UINavigationController"
I try to make sideMenuController have a navigation, but when I try to swipe the menu. navigation controller being pushed down and my navigation title not showing.

[2019-01-31 06:54] kukushi commented on #31
Sorry, I can't figure out how you use side menu. Sample code or detailed description may help.

[2019-01-31 09:12] Kiran8899 opened #32 "Increase shadow opacity"
Thanks for this wonderful library!

I am using the `.above` position to show the sidemenu, but I need to reduce the opacity of the viewcontroller that's hidden behind. Is there any property to do the same?

[2019-01-31 09:20] #32 closed

[2019-01-31 09:37] FerryAWijayanto commented on #31
hey kukushi i receive your email, I give you my code how I use sideMenu.

I make a function to generate a navigation controller like this.

func generateNavController(with rootViewController: UIViewController, title: String, image: UIImage) -> UIViewController {

        let navController = StatusbarNavController(rootViewController: rootViewController)

        navController.tabBarItem.title = tit

[2019-02-01 09:09] kukushi commented on #31
I will suggest you using side menu controller as the top most view controller

[2019-02-08 06:58] gourav06111993 commented on #20
how can i reveal sidemenu in child viewcontroller

sidemenu option1-> push option1 view controller -> push to child controller -> show side menu in child controller

[2019-02-08 09:10] kukushi commented on #20
@gourav06111993
You can call `sideMenuController.revealMenu()` in any child view controller to reveal the menu.

[2019-02-08 10:58] amitoj opened #34 "SelectionCell width = 240"
You've set SelectionCell width as 240 in the storyboard.
I'm making an app with 100% programmatic implementation of the SideMenu.
The cell width being the normal size is pushing the menu options out of the screen unless I add 220 to left side Anchor of the icon image view.
How do set the SideMenu table cell to have the desired width with consistent view across all devices?

[2019-02-08 12:46] kukushi commented on #34
Change the corresponding leading or trailing constraint of the table view to the desired value should work.

[2019-02-11 09:21] #20 closed

[2019-02-11 09:21] #24 closed

[2019-02-11 09:22] #26 closed

[2019-02-11 20:15] salil0505 opened #35 "Passing data in prepareForSegue"
Currently there is no way to pass data with prepareForSegue, when a content view is segued to from another controller. Due to the file's access control permissions, there is no way to subclass SideMenuController since its target module is not the same as the main project

[2019-02-11 20:25] salil0505 commented on #35
Sorry, I was able to find a solution by doing some additional setup in prepareForSegue in my subclassed SideMenuController.

[code]

[2019-02-11 20:25] #35 closed

[2019-02-14 09:16] niuchangming opened #36 "Position with .under will be full screen"
SideMenuController.preferences.basic.position = .under will be display full screen.

[2019-02-15 14:41] #34 closed

[2019-02-15 14:42] #31 closed

[2019-02-15 14:58] kukushi commented on #36
Hi @niuchangming, the example displays the expected layout.
Any code to reproduce the problem?

[2019-02-18 11:32] amitoj commented on #34
Would it be possible to write a code snippet please.

[2019-02-18 11:38] amitoj commented on #34
My code

[code]

[2019-02-18 11:40] amitoj commented on #34
In AppDelegate

[code]

[2019-02-18 14:00] teo029 opened #37 "Crash when setting TabBarController as Content VC"
I need to show the menu from any tab in the TabBarController.

Seems like it crashes if I try to set a TabBarController as the Content VC.

Any ideas?

[2019-02-18 14:16] #37 closed

[2019-02-19 11:50] kukushi commented on #34
@amitoj I'm sorry but I won't reopen this issue because it's actually a layout problem instead of an issue.
To achieve the effect, you need to hold the leading constraint and change its constant in the appropriate time.

[2019-02-19 17:20] anirudhamahale opened #38 "Disable the bouncing effect?"
I want to disable the below bouncing effect

![ezgif com-optimize](https://user-images.githubusercontent.com/16848003/53034234-c49fef80-3498-11e9-8cf6-f0e12522d072.gif)

[2019-02-20 01:05] kukushi commented on #38
[code]
should work.

[2019-02-20 01:05] #38 closed

[2019-02-25 08:21] Hassaniiii commented on #36
I have the exact same problem with **"under"** position preference. Here is my code:

[code]

[2019-02-26 13:58] kukushi commented on #36
@Hassaniiii SideMneu does not support changing some core preferences after initialized.

[2019-02-26 18:34] teo029 opened #40 "Disable menu for a View Controller"
How can I partially disable the menu? I don't need it shown on any of my screens.

[2019-02-26 19:24] #40 closed

[2019-03-03 12:02] teo029 opened #41 "Side menu pan gesture overrides tableview's cell swipe gesture"
I think the menu's gesture should be a Screen Edge Pan, not a classic pan. I want to swipe over my tableview's cell and it triggers the sliding menu, even from the middle of the screen.

I will disable the pan gesture in this screen, but I think a better solution is needed.

[2019-03-04 19:34] teo029 commented on #41
Overall, the pan gesture does not work as intended. You sometimes can't swipe the screen. I think the screen should be visible only on

[2019-03-05 16:04] kukushi commented on #41
Gesture collision is hard to rule out. The screen edge pan may reduce the chance of collision but won't sovle the problem.

[2019-03-05 16:04] #36 closed

[2019-03-05 18:38] #41 closed

[2019-03-06 17:22] amitoj opened #42 "SideMenuControllerDelegate func not called"
Following functions are not called when SideMenu is opened.
I need to print SideMenu frame / bounds before and after the reveal for layout debugging.

[code]

[2019-03-07 03:27] kukushi commented on #42
😅
The delegate method in example is out of sync.
You need to implement the methods declared in the `Delegate.swift`.
I will update the example later.

[2019-03-07 07:32] amitoj commented on #42
Thanks

[2019-03-07 07:32] #42 closed

[2019-03-19 07:29] charlieInDen opened #43 "Add Test cases to your projecy"

[2019-03-20 15:27] the-1000th-summer opened #44 "basic.position = .under 时主视图变暗没有过渡动画"
1.如题，我的side menu 在左边，刚向右划，主视图突然变暗，而不是逐渐变暗（提供的示例程序也是这样子），basic.position = above 和 sideBySide 则没有此问题。
2.顺便请问一下在划出side menu时能否不让主视图变暗？

3.关于已经关闭的问题 Position with .under will be full screen #36 我也同样遇到了此问题，在用代码而不用 Storyboard 创建side menu controller时会这样
![a](https://user-images.githubusercontent.com/26242253/54696814-75b4ab00-4b67-11e9-86e6-28f28f403806.gif)
storyBoard:
![屏幕快照 2019-03-20 23 22 52](https:

[2019-03-22 16:39] kukushi commented on #30
Any follow up？@SimbuCA

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-22 16:41] kukushi commented on #44
感谢反馈，我会看下。

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-22 16:45] kukushi commented on #43
SideMenu is generally an UI framework, and testing the UI interaction is particularly hard to write and maintain.
But as always, any MR are welcomed.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-22 16:45] #43 closed

[2019-03-23 12:48] jignesh-stratecore opened #45 "sidemenu not push and pop view controller from sidemenu options"
sidemenu not push and pop view controller from sidemenu options

[2019-03-24 03:23] kukushi commented on #45
@jignesh-stratecore Can you provide a more detailed description?

[2019-03-24 03:25] kukushi commented on #44
@the-1000th-summer 能否提供一个  Demo？

[2019-03-24 05:29] the-1000th-summer commented on #44
@kukushi
第3个问题：
[Test4.zip](https://github.com/kukushi/SideMenu/files/3000067/Test4.zip)

第1个问题：
![IMG_8064 TRIM](https://user-images.githubusercontent.com/26242253/54875361-9cf5cb80-4e38-11e9-8ff3-e860ed29feb0.gif)

[2019-03-24 10:19] mahmooddagga opened #46 "how can clear selected item highlight ?"
how can clear selected item highlight ?

because of  i show popup dialog in "  didSelectRowAt " but still highlighted after press

    func tableView(_ tableView: UITableView, didSelectRowAt indexPath: IndexPath) {

[2019-03-24 10:19] mahmooddagga commented on #46
@kukushi

[2019-03-24 15:27] kukushi commented on #44
第三个问题是因为部分属性需要在 SideMenu 初始化之前设定：

[code]

position 为 under 的阴影已经去掉了，第一和第二个问题也解决了，可以用最新的 commit 试一下。

[2019-03-24 15:29] kukushi commented on #46
@mahmooddagga
Generally, I think it's out of scope of Side Menu.
StackOverflow would be a better place for this kind of problem.

[2019-03-24 15:29] #46 closed

[2019-03-24 15:48] jignesh-stratecore commented on #45
I will share steps if possible.

Suppose we have multiple options in side menu. And user need to go next
pushed view controller from side menu. So we call the navigation controller
pushviewcontroller method.

When user come back from pushed viewcontroller then issue generate!! The
navigation control changed from previous. I checked the pod code but not
getting any idea how to solve this problem.

[2019-03-24 16:56] kukushi commented on #45
I think you may be call methods on different navigation controller. I would suggest you double checking the navigation controller you are calling methods on.

Xing He,
Best Regards
On Mar 24, 2019, 11:48 PM +0800, jignesh-stratecore <notifications@github.com>, wrote:

[2019-03-25 04:46] jignesh-stratecore commented on #45
suppose if we have to switch the content view controller then we use code like below

[code]

instead of switch view controller, we need to push and pop the view controller then any idea what to do?

[2019-03-25 05:09] kukushi commented on #45
There are many approaches to achieve that.
The easiest way is let the menu controller hold a reference to the content view controller's navigation controller when setup the side menu. Then you can push & pop on that navigation controller from the menu controller.

[2019-03-25 05:09] #45 closed

[2019-03-25 15:13] the-1000th-summer commented on #44
问题解决了，感谢。

[2019-03-25 16:53] #44 closed

[2019-03-26 20:51] lukeirvin opened #47 "setContentViewController with UITabBarController"
My app is built using a UITabBarController.

Seems that the only menu item that works is whatever my default is. Any other view controller I transition to loses both it's UINavigationBar & UITabBar.

What's the best way to transition to tabs?

[2019-03-26 21:39] lukeirvin commented on #6
Possible to see an example of this? Or just some pseudo code? I'm stuck on this problem.

[2019-03-27 02:02] lukeirvin commented on #47
So, I figured out how to navigate to the main tabs, but I have another issue.

On each of the view controllers there is a navigation item that directs to another view controller. How can I navigate to that VC and keep the navigation & the tabs showing?

If I embed that VC to a Navigation Controller, once I transition there I am stuck.

[2019-03-27 03:54] #47 closed

[2019-03-29 08:35] SogoGolf opened #48 "how do we run the example ?"
what do we need to do to build/run the example app ?

[2019-03-29 10:44] kukushi commented on #48
Run it with Xcode.

[2019-03-29 10:44] #48 closed

[2019-04-01 10:33] knight6700 opened #49 "first time menu not show after login"
after login menu not show how to show menu when pressed in login button

        if UserDefaults.standard.string(forKey: "id") != nil {
            let story = UIStoryboard(name: "Main", bundle: nil)
            let side = UIStoryboard(name: "SideMenu", bundle: nil)
            window?.rootViewController = SideMenuController(contentViewController: story.instantiateInitialViewController()!, menuVie

[2019-04-01 14:15] iamdeadman opened #50 "How to pass data from sidemenucontroller to contentviewcontroller"
Hi,

I have created a root ContentViewController for my main view and a NavigationViewController for the sidemenu.
I am trying to launch the screen as suggested in readme like this -

[code]

where viewController is my ContentViewController and nav is my NavigationViewController

Now in my viewController I can do

[code]

Now, how can I pass data from menu controller to my content view controller

[2019-04-02 11:09] ghimireprashant opened #51 "implementation with UITabBarscontroller ?"
how to implement side menu with tabbar controller and also how to push view controller while click from side menu

[2019-04-02 14:25] kukushi commented on #51
First of all, you need to set SideMenuController as the Root view controller. The architecture is:
- SideMenuController
     - TabBarController
        - NavigationController

In order to push view controller when clicking on the menu, you need to let the menu controller hold the reference to navigation controller.

[2019-04-02 14:25] #51 closed

[2019-04-05 09:34] kukushi commented on #50
You can pass data to the `contentViewController` when switching like: https://github.com/kukushi/SideMenu/blob/df7552166ea1aeb6d72df0d01ae9f2e5d7fa4217/Example/MenuViewController.swift#L132

[2019-04-05 09:35] #50 closed

[2019-04-12 10:20] iarshad20 commented on #49
@knight6700 you just need to copy the whole code after if condition and paste it in the Login Button Action. You have to specify rootViewController that's all.

[2019-04-15 09:32] EduardoGin opened #52 "Menu won't show if I segue to another VC"
Hello,

So, I have imported this pod, tested the example and everything worked perfect.
I can set it so it shows the menu on the initial screen.

The Menu is also persistent if I choose cell 0 (which is the initial cell). Meaning if I choose that cell it will stay on my initial VC and the menu keeps appearing/

Now the problem is: If I segue from the buttons on my VC, the menu won't appear anymore

[2019-04-15 11:24] knight6700 commented on #49
@iarshad20 i did it but no thing changed

[2019-04-16 09:34] kukushi commented on #52
@EduardoGin The root view controller need to be the side menu controller.

[2019-04-16 09:38] kukushi commented on #49
@knight6700
First, you need to setup the side menu before it's initialized, like:

[code]

Second, the menu won't show by default, you need to reveal it manually.

[2019-04-16 09:38] #49 closed

[2019-04-17 07:16] EduardoGin commented on #52
Hi @kukushi , I will give it a look in 30min. I will update you, thanks

[2019-04-23 01:42] mohit2305 opened #53 "App is crashing"
My app is portrait for iPhone and landscape for iPad. It is crashing on

Terminating app due to uncaught exception 'UIApplicationInvalidInterfaceOrientation', reason: 'Supported orientations has no common orientation with the application, and [SideMenuSwift.SideMenuController shouldAutorotate] is returning YES'

I am using storyboard and my storyboard file is different for iPhone and iPad

[2019-04-23 07:57] EduardoGin commented on #52
Any ideas @kukushi ? :)

[2019-04-23 10:40] kukushi commented on #53
@mohit2305 Hi, can you provide demo or code to reproduce this crash?

[2019-04-23 17:44] kukushi commented on #52
@EduardoGin SideMenu should be the root view controller and top level view controller, which is parent of all other view controllers.

If you want to add the login screen, I will suggest you changing the root view controller to side menu after successfully login.

[2019-04-24 07:49] EduardoGin commented on #52
Hi @kukushi thanks for replying

My SideMenu is already the root viewcontroller as you can see from the screenshot, the arrow is there, making it the FIRST VIEW, therefore the root view controller.

The login screen I have that sorted, I just don't get how it is still not working when it is the root viewcontroller.

Like I said, everything works with your Pod. It is an excellent pod!
The only prob

[2019-04-24 08:37] kukushi commented on #52
I’m afraid there is some information missing here.
Can you send me a demo for reproducing this problem?

Xing He,
Best Regards
On Apr 24, 2019, 3:49 PM +0800, EduardoGin <notifications@github.com>, wrote:

[2019-04-24 08:45] EduardoGin commented on #52
I am sure there is...

I will put things by bullet points

1. Menu is working as it should.
2. SideMenu is the RootVC
3. If I segue to another VC using the menu, it segues properly
3.1 If I try to open the Menu on the new VC, the menu opens
4. If I segue to another VC (example: button click), the menu won't appear on the VC

Here is a link with the Zip. Open the .workspace
https://drive.google.com

[2019-04-26 02:11] vdphong opened #54 "Present SideMenu from a Login screen"
Hi @kukushi,
I have a login screen, how can I present SideMenuViewController after user click on login button.
Code:
let storyboard = UIStoryboard.init(name: "Main", bundle: nil)
let viewController = storyboard.instantiateViewController(withIdentifier: "SideMenuViewController") as! ???
viewController.user = user (I need to pass this user object to SideMenuViewController)

Appreciate your help!

[2019-04-26 04:15] #54 closed

[2019-04-26 04:15] vdphong commented on #54
I had found a solution!

[2019-04-27 15:40] kukushi commented on #52
@EduardoGin Thanks for your code.

There are some misuse in your code:
1. Side menu should have only one content segue, not two.
2. I will suggest you using the navigation controller instead of "Push detail"

[2019-04-29 07:49] EduardoGin commented on #52
Hi @kukushi I appreciate the time you took to look at it.

I have some questions:

My app is very navigation bar oriented, meaning I will have to create one navigation bar nearly for every VC so I can go back and forth, that's why I created it manually, to avoid spamming my Main story with navigation controller VCs.

My questions are:

1. If I create a navigation bar, I will have to have more than

[2019-04-29 07:58] SimbuCA opened #55 "Push ViewController from App Delegate"
I have implemented the application using this side menu. The navigation flow is working fine. I am trying to build an application like banking application. If user idles for 15 minutes it redirected(push) to the login page. Once the user login, it back to the corresponding page. The timer running in the extension of UIApplication. I am trying to push the login view controller from the extension of

[2019-04-29 09:52] #30 closed

[2019-04-29 11:53] kukushi commented on #55
You need to call push from the navigation controller. In your case, maybe the `contentViewController`.

[2019-04-29 11:53] #55 closed

[2019-04-30 02:27] kukushi commented on #52
@EduardoGin
Maybe you have misunderstand how Navigation Controller work. The whole navigation stack share one single navigation bar. You can follow the way example use `pushViewController`.

[2019-04-30 02:27] #52 closed

[2019-04-30 07:50] EduardoGin commented on #52
Hi @kukushi , yeah my bad.

One question, is it possible to expand the navigation controller so it is as big as the one I have?

[2019-04-30 14:32] EduardoGin opened #56 "Menu Under (not below)"
Hello,

How can I put the Menu to appear say under the Navigation bar for instance?

I did this (see attachment) but all it does it push the content down, not the whole view.
I understand part of this is because you set the Menu on a whole view.

Any way to go around this?
![Simulator Screen Shot - iPhone Xs - 2019-04-30 at 15 25 38](https://user-images.githubusercontent.com/47526850/56969483-2c3f

[2019-05-01 03:10] kukushi commented on #56
There is no known workaround. Maybe you can do some trick to tweak that.

[2019-05-01 03:10] #56 closed

[2019-05-01 08:16] EduardoGin commented on #56
@kukushi thanks :)

Yeah, I will look into it.

Any progress I will let you know

[2019-05-01 14:03] EduardoGin opened #57 "Navigation Bar disappears"
Hello,

Everything is presenting as it should and working, apart from this last bit:

I lose my UINavigation Bar if I segue to another VC via the menu.
See attachment

![56954791-aa892a00-6b37-11e9-8e14-6ef0563a534d](https://user-images.githubusercontent.com/47526850/57020743-2790ce00-6c22-11e9-9231-e3c13627a4a7.png)
![Screenshot 2019-05-01 at 15 02 58](https://user-images.githubusercontent.com/47

[2019-05-07 11:49] anelad opened #58 "Safe area insets on landscape mode"
Missing safe area insets both for side and main views on portrait mode (for iPhone X <)

![Screen Shot 2019-05-07 at 14 48 18](https://user-images.githubusercontent.com/5767654/57297042-3cb0a580-70d7-11e9-93b2-92fcae904008.png)

[2019-05-09 11:34] karthisiva commented on #54
share sample project of this others can get benefit.

[2019-05-09 12:51] anelad commented on #58
For a quick workaround use this:

[code]

[2019-05-09 15:29] kukushi commented on #57
Nope.

[2019-05-09 15:32] kukushi commented on #58
@anelad
The solution is correct.
Safe area (for side menu) is only needed for part of the users, and they can archive that without much effort.

[2019-05-09 15:33] #58 closed

[2019-05-20 15:50] nikeshakya opened #59 "Side Menu Showing during Parent Pop animation"
-> When trying to pop SideMenuController, hidden SideMenu is being seen in pop animation
![Simulator Screen Shot - iPhone X - 2019-05-20 at 21 30 49](https://user-images.githubusercontent.com/16401569/58034840-2d097600-7b47-11e9-8f70-df5e05b4f4f7.png)

[2019-05-21 05:05] DeevD opened #60 "Reveal()"
viewcontroller.revealMenu()  is not working bro

[2019-05-21 07:32] #60 closed

[2019-05-28 09:22] vdphong opened #61 "Can I make two side menus on left and right?"
Can I make two side menus on left and right? Thanks alot

[2019-05-28 09:58] kukushi commented on #61
Nope

[2019-05-28 09:59] #61 closed

[2019-05-31 11:30] TGWC opened #62 "Import by hand"
How to import it by hand without cocopods?

I dropped .framewok it it gives an error, image not found...

[2019-05-31 15:10] kukushi commented on #62
@TGWC Dragging all the source files into the project should work.

[2019-05-31 15:10] #62 closed

[2019-06-04 05:48] mhamzasani opened #63 "iPhone XS issue with background image"
Hi. The Sidemenu works good with iPhone 7,8 etc. But when it comes to iPhone XS.. the side menu background UIImage shows on the root controller.
![Screenshot 2019-06-04 at 10 43 44 AM](https://user-images.githubusercontent.com/37930382/58854296-4c131680-86b6-11e9-9250-510ec3c9aaa9.png)

[2019-06-04 15:11] kukushi commented on #63
I think it's a layout issue.
Using Visual Hierarchy debugger will provide a better vision.

[2019-06-05 16:49] chrischute opened #64 "Modal presentation -> Rotate -> Dismiss"
First off, great project! Simple and easy to use.

I had a layout issue caused by the following steps:

1. Modal presentation over the content view controller
2. Rotate the device
3. Dismiss the modally presented view
4. Now the content view is not sized properly

I traced these steps to `viewWillTransition` and specifically the following line: `self.contentContainerView.frame = self.contentFrame(

[2019-06-06 12:57] mhamzasani commented on #63
Thanks mate!

[2019-06-07 10:20] boardmain commented on #53
sample problem
if you set the app only for landscape it crash

[2019-06-08 16:42] #63 closed

[2019-06-08 17:13] kukushi commented on #64
Thanks for the detail description and hint.
You can try the fix on the develop branch.

[2019-06-08 17:14] #57 closed

[2019-06-08 17:15] kukushi commented on #59
Can you provide a demo for reproducing this issue?

[2019-06-16 15:52] #53 closed

[2019-06-16 15:52] #64 closed

[2019-06-17 10:46] jameszasod opened #65 "right direction not working."
Code: https://user-images.githubusercontent.com/13145084/59599009-b05abf00-9127-11e9-8bd1-c3f1bde5ca6e.png

Display: https://user-images.githubusercontent.com/13145084/59599010-b0f35580-9127-11e9-8563-604bc0e0237b.png

[2019-06-20 07:33] kukushi commented on #65
@jameszasod Thanks for your feedback. I will check it soon.

[2019-06-23 15:20] kukushi commented on #65
@jameszasod You need to call `configureUI()` before the sidemenu appeared. `AppDelegate` should be a neat place.

[2019-06-23 15:20] #65 closed

[2019-06-24 05:11] iDimka opened #66 "Menu shifted left because origin shifted is -112.5"
Hi there,

The control is nice!
Cannot fix the next problem: Instantiated from a code. Menu shifted left because origin shifted is -112.5, you can see the last work of phrase -  "Report a problem". Also, menuViewController has the same width as the UIScreen.main

![Screen Shot 2019-06-24 at 1 04 05 AM](https://user-images.githubusercontent.com/931831/59993051-b74c6a80-961c-11e9-8900-a8cce8ea442e.j

[2019-06-24 05:36] iDimka commented on #66
Fix for me:
![Screen Shot 2019-06-24 at 1 35 31 AM](https://user-images.githubusercontent.com/931831/59994043-69d1fc80-9620-11e9-872d-c8d59516fb41.jpg)

[2019-06-27 14:13] anonrig commented on #66
Is there a fix to this without actually modifying the pod?

[2019-06-30 13:49] anonrig commented on #66
@kukushi

[2019-07-05 12:34] kukushi commented on #66
@iDimka @anonrig can you providing a demo or sample code for reproducing this problem?

[2019-07-09 08:37] gsoykan commented on #64
![Simulator Screen Shot - iPhone 8 - 2019-07-09 at 11 31 53](https://user-images.githubusercontent.com/11638870/60872534-80da3680-a23d-11e9-9d89-06119f96952c.png)

I got this layout during the following situation:

- First a viewController is pushed to the navigation and that rotates the screen horizontally
- Then when that viewController is popped up the rotation is going back to vertical (portra

[2019-07-09 12:59] FlorianBasso opened #67 "Crash iOS 13 on Real Device"
NSInternalInconsistencyExceptionfunction signature specialization <Arg[0] = Dead> of static (extension in SideMenuSwift):__C.UIWindow.sb.getter : __C.UIWindow?

App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.

I think the issue is here `static v

[2019-07-09 14:58] kukushi commented on #67
The status bar window has gone in iOS 13. I have to found another way to animate the status bar.

[2019-07-11 10:56] vaisakhcherrylabs opened #68 "How to add side menu to tabbar controller views"
Trying to add side menu to a view controller that is connected by a tabBarController using storyboard. providing you the sample project that i tried with.
[SideMenuTesting.zip](https://github.com/kukushi/SideMenu/files/3381646/SideMenuTesting.zip)

[2019-07-11 14:38] kukushi commented on #68
Set the SideMenuController as the topmost view controller should work.

[2019-07-11 14:38] #68 closed

[2019-07-13 06:04] rahulbbit opened #69 "Bug when swiped on Navigation bar"
Side menu opens when swiped from NaviagtionBar when the viewcontroller is pushed

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/11924067/61167857-25bc8280-a562-11e9-8a3d-5d586d0ce986.gif)

[2019-07-13 13:30] kukushi commented on #69
I did reproduce this bug.
It only happens when user swiping on the navigation bar which is unusual.

[2019-07-17 12:32] thejogsa opened #70 "how to get current visible controller ?"
var navcontrlr:UINavigationController   =   self.window?.rootViewController as! UINavigationController

        let controller = navcontrlr.visibleViewController

its always return sidemenucontroller .

How to get my current visible view controller in this ?

[2019-07-17 21:54] jmoia commented on #67
Hi Kukushi, just seeing if you've already started working on a fix for iOS 13, or if I should start working on it...I'll probably just comment out and make a quick fix because I just use a static bar.

[2019-07-18 02:15] kukushi commented on #67
@jmoia Beta sdk may change from time to time, so I will fix it on some later betas.

[2019-07-19 13:25] kukushi commented on #70
`contentViewController` is what you need.

[2019-07-19 13:25] #70 closed

[2019-08-08 12:38] Ashtan25 commented on #7
Can You please share the code for RTL. What exactly I have to do?? Please asap

[2019-08-08 13:13] Idomo commented on #7
@Ashtan25 code of what part? the library should support it with the setting `shouldRespectLanguageDirection = true`

[2019-08-08 14:59] Ashtan25 commented on #7
please tell me where are you putting the following code cz its not working in my code

[2019-08-08 15:00] Ashtan25 commented on #7
can you please share the demo code if you have it

[2019-08-08 15:05] Ashtan25 commented on #7
Sorry guys its working perfectly sorry to bother you anyway. Thanks for the library

[2019-08-16 12:21] iMostfa commented on #67
same, problem
waiting for fix

[2019-08-18 13:13] lucascorrea commented on #67
Hi @kukushi We are close to the release of iOS 13, would have as a branch with a workaround? Thanks

[2019-08-19 09:29] hiroshi12465643 commented on #67
I had to check this so I just commented out some codes related to Status Bar.
BasicTransitionAnimator worked with xcode11 beta5 & ios13. I haven't checked more than that.

https://github.com/hiroshi12465643/SideMenu/blob/06a773af044bbea084ba9f1eda80d05d50e812bb/SideMenu/SideMenuController.swift

[2019-08-21 15:08] kukushi commented on #67
Guys, checkout branch `ios13` for a workaround.

[2019-08-23 18:00] gpapotti opened #71 "Customize pan gesture recognizer sensitivity"
Hi, Kukushi.
Beautiful control, Congrats!
Sometimes pan gesture recognizer is a little too "choosy" in detecting a valid gesture. After a few tests I discovered that it would be useful to add a property in SideMenuController class in order to parametrise the constant value (.25) you're using in isValidateHorizontalMovement. For example on a real iPhone XS you get much better user experience with a

[2019-08-27 13:38] armydons commented on #67
@kukushi I can't accessible ios13 branch for a workaround.
Specify the link for that

[2019-08-28 15:34] kukushi commented on #67
When the `statusBarBehavior` is not `.none`.

[2019-08-28 15:35] kukushi commented on #67
Version 2.0.2 is released for a workaround. I will keep looking for an alternative way to archive the animation on iOS 13.

[2019-08-28 15:35] #67 closed

[2019-08-31 10:04] Rajib-Sarwar opened #72 "Bottom tabBar appears extra space on revealing SideMenuController inside UITabBarController"
I have implemented the Right Side Menu inside a UITabBarController in the following way:

[code]

After launching the application everything looks fine. But the UI issue arise on revealing the left side menu. Check the following gif file:

![ezgif com-gif-maker](https://user-images.githubusercontent.com/9767280/64062513-05777e80-cc09-11e9-8411-e322e44b1930.gif)

[2019-09-01 14:25] kukushi commented on #71
@gpapotti I have not yet tested it, but fell free to open a PR.

[2019-09-01 14:27] kukushi commented on #72
@Rajib-Sarwar Have you tried setup all settings before initializing the `SideMenuController`?

[2019-09-03 08:54] gunantosteven opened #73 "How to disable close side menu when touch anything oustide SideMenu"
For now if u touch anything outside sidemenu. Automatically side menu will close. I want to disable it. Or just maybe just disable close side menu if it can.

[2019-09-04 02:58] gunantosteven commented on #73
I finally found the way. I need to disable contentContainerOverlay gesture.

[2019-09-04 02:58] #73 closed

[2019-09-06 09:12] Meterwhite opened #74 "pod problem(swift5/ios9)"
Where may be the problem???
--------------------------------------------
--------------------------------------------
[!] CocoaPods could not find compatible versions for pod "SideMenuSwift":
  In Podfile:
    SideMenuSwift

Specs satisfying the `SideMenuSwift` dependency were found, but they required a higher minimum deployment target.

[2019-09-06 09:17] #74 closed

[2019-09-09 01:38] vtsourcecode opened #75 "iOS 13 Crash on 'statusBarWindow'"
The undocumented code to get the statusBarWindow is causing a fatal error and crashing the app with this message in the console.

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on th

[2019-09-09 01:39] vtsourcecode commented on #75
This method:

static var sb: UIWindow? {
        // We use a non-public key here to obtain the `statusBarWindow` window.
        // We have been using it in real world app and it won't be rejected by the review team for using this key.
        let s = "status", b = "Bar", w = "Window"
        return UIApplication.shared.value(forKey: s+b+w) as? UIWindow
    }

[2019-09-09 02:34] kukushi commented on #75
@vtsourcecode Please check out the latest version.

[2019-09-09 02:40] vtsourcecode commented on #75
Thanks, just did that and problem solved.

[2019-09-09 02:42] #75 closed

[2019-09-18 14:07] Mahesh-pofi opened #76 "Navigate to specific TabBar item from Side Menu."
How to Navigate to specific child Tabbar from side menu. Here I have mentioned the code I have tried in didSelectRowAt and gives the Tabbar names.
**Parent Tab bar** - ParentTabbarViewController
**child tab bar 1** - MessageViewController
**child tab bar 2** - ProfileViewController

[code]

[2019-09-19 03:26] kukushi commented on #76
Generally, you should let the "MenuViewController" hold a reference to the tab bar controller, then do the navigate on the tab bar controller directly.

[2019-09-19 03:26] #76 closed

[2019-09-19 05:22] Mahesh-pofi commented on #76
Can you please explain more?

[2019-09-20 12:52] nileshjaiswal16 opened #77 "SideMenu not working in iOS 13"
Please help me my sidemenu not working in iOS 13

[2019-09-20 13:34] kukushi commented on #77
Nobody can help if you don't describe your problem.

[2019-09-20 13:46] nileshjaiswal16 commented on #77
[UIApplication sharedApplication].statusBarFrame deprecated in iOS 13 that's why application crashing when tap on hamburger menu.

[2019-09-20 14:46] kukushi commented on #77
@nileshjaiswal16 Updating should solve your issue.

[2019-09-20 14:46] #77 closed

[2019-09-20 14:52] cdstamper commented on #77
@nileshjaiswal16 this is fixed in the 2.0.2 release, you can try `pod repo update` if you're not seeing that version available

[2019-09-23 06:27] hydralisk01 opened #78 "Crash on Xcode 11, iOS13"
Hi,

I am getting the following when trying to run my project in Xcode11 with iOS13

[code]

[2019-09-23 06:30] hydralisk01 commented on #78
Closing as duplicate

[2019-09-23 06:30] #78 closed

[2019-09-23 09:24] haidukstore commented on #67
@kukushi i have the same problem even if i select .none . How fix it? version 2.0.2

[2019-09-23 15:28] kukushi commented on #67
@haidukstore Can you post more detail error description?

[2019-09-23 15:47] haidukstore commented on #67
@kukushi sorry, it's new xcode has some lag, after reload ".none" value work perfect

[2019-09-23 18:23] tulioccalazans commented on #16
@fredericdnd answer should be in the library documentation!

[2019-09-23 19:12] dromerobarria opened #79 "dyld: Symbol not found Preferences.Position"
Hi. After update it to the last version I got this error :

dyld: Symbol not found: _$s13SideMenuSwift0aB10ControllerC11PreferencesV0B8PositionON

Referenced from: /var/containers/Bundle/Application/.....
  Expected in: /private/var/containers/Bundle/Application/9DF88E9C-ADD1-4AE5-B41B-4E61D0A3A7AD/..../Frameworks/SideMenuSwift.framework/SideMenuSwift
 in /var/containers/Bundle/Application/.......

[2019-09-23 20:13] dromerobarria commented on #79
Nvm , just remove the pod and added again fix the problem.

[2019-09-23 20:13] #79 closed

[2019-09-24 05:46] Prashant961992 opened #80 "Xcode Version 11.0 and ios 13.0 reateStatusBarWithRequestedStyle App crash , Please Provide support for that"
* Assertion failure in -[UIApplication _createStatusBarWithRequestedStyle:orientation:hidden:], /BuildRoot/Library/Caches/com.apple.xbs/Sources/UIKitCore_Sim/UIKit-3899.13.13/UIApplication.m:5240

*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a sta

[2019-09-24 05:58] kukushi commented on #80
#67

[2019-09-24 05:58] #80 closed

[2019-09-24 06:22] JayeshMardiya commented on #67
I am getting crashed when I'm trying to fetch `foregroundView` using `UIApplication.shared.value(forKey: "statusBar")`

[2019-09-24 09:36] adriaros commented on #67
I had the same error: "App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead"

The problem is that uploading Xcode 11 and iOS 13 you cannot use UIApplication.shared.value(forKey: "statusBar").

[2019-09-24 14:12] mehroozkhanpl opened #81 "App crashes due to StatusBar Xcode 11"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.'

[2019-09-24 16:33] kukushi commented on #81
Duplicate with #67.

[2019-09-24 16:33] #81 closed

[2019-09-25 07:18] pujaadcolony commented on #80
I am also getting the same issue . Please help me out

[2019-09-26 10:40] dotWasim commented on #67
I have same problem

[2019-09-27 07:00] kukushi commented on #67
@dotWasim Can you try again with a clean build?

[2019-09-29 13:56] menayousif opened #82 "Terminating app on iOS 13"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.

[2019-09-29 15:07] kukushi commented on #82
#67 The issue was fixed in version 2.0.2.

[2019-09-29 19:24] menayousif commented on #82
@kukushi
I have installed 2.0.2, the app runs without any crashes. Although set statusBarBehavior = .fade or even statusBarBehavior = .hideOnMenu the side menu does not hide.

[2019-09-30 03:04] kukushi commented on #82
@menayousif You are correct.
The underlying implementation of the status bar on iOS 13 changed completely and It will need some more time to reimplement it.

[2019-09-30 06:36] menayousif commented on #82
@kukushi
okay thank you for your quick response and for your great effort

[2019-09-30 13:48] #82 closed

[2019-09-30 14:13] Karpyshyn opened #83 "iOS 13 statusBar & statusBarWindow are deprecated"
Lib is calling statusBar and/or statusBarWindow. Buidling for iOS 13 cause crash with error
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.

Seems code ne

[2019-09-30 15:55] kukushi commented on #83
#67

[2019-09-30 20:08] busu90 commented on #67
What exactly should be set to .none and where? I'm still getting the crash with v2.0.2

[2019-10-01 16:53] Tahia50 opened #84 "Communication between two cached controllers"
I was looking through the example code where I wanted to pass value from "PreferencesViewController" -> "WorkWithOtherViewController" and vice versa by delegation. But I can not get the controller instances from the cache controllers. How can I achieve that?

[2019-10-01 17:55] ahbou commented on #66
I have the same issue when instantiating from code.
I think the origin shouldn't change instead adjust the width.

[2019-10-02 10:30] ahbou commented on #66
Here's a fix without patching the pod: Make your tableview's width equal to `SideMenuController.preferences.basic.menuWidth`

[code]

[2019-10-02 15:17] kukushi commented on #67
Does it still crash with a clean build?

[2019-10-02 15:17] #83 closed

[2019-10-03 09:50] dotWasim commented on #67
@kukushi yes, It still crash

[2019-10-03 15:38] kukushi commented on #84
@Tahia50 There are many ways to communicate between different objects. The most straightforward way is to let them holding each other.

[code]

[2019-10-03 15:40] kukushi commented on #67
@dotWasim @busu90  Would you mind sharing a screenshot when the breakpoint hitting the crash (probably in the `StatusBar.swift`)?

[2019-10-03 15:46] busu90 commented on #67
@kukushi It actually started to work for me after multiple cleans

[2019-10-04 10:13] Pinturaj opened #85 "Issue in iOS 13.1.2"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.'
*** First throw call stack:

[2019-10-04 14:55] kukushi commented on #85
Please check out #67

[2019-10-04 14:55] #85 closed

[2019-10-13 06:41] JhonnyTawk commented on #45
How to achieve that can you provide an example?

[2019-10-13 07:43] nassifbasheer commented on #66
I am facing the same issue with the side menu instantiated via code

[2019-10-13 08:54] nassifbasheer commented on #66
any fix for this issue

[2019-10-13 09:32] JhonnyTawk opened #86 "Present View from menu Items"
I want to present a custom popUp view when the user clicks on item from the menu.

How to achieve that?

[2019-10-13 21:33] ahbou commented on #66
@nassifbasheer did you try my fix above? I'm instantiating via code too.

The implementation of this library is **wrong** it shouldn't shift the view's origins.

[2019-10-14 09:02] JhonnyTawk opened #87 "Keep the tabbar showing in all views"
I want to keep the tab bar visible in all views.
Even when I click on an item from the menu I want the Tabbar to be still visible how to achieve that?

[2019-10-14 09:45] JhonnyTawk opened #88 "Pass data between views"
How to pass data between view controllers I am using

`
sideMenuController?.cache(viewControllerGenerator: {
            mainStoryboard.instantiateViewController(withIdentifier: "pricingNav")
        }, with: "6")
`

I want when I click on an item in the menu to pass a value to that view controller
for example :

`
            let instance = settingsStoryboard.instantiateViewController(withIdentif

[2019-10-14 10:18] JhonnyTawk commented on #7
@Ashtan25 can you provide me with some example I have the same issue as yours.
Thank you

[2019-10-14 15:05] kukushi commented on #86
The description you provide is insufficient to understand your question.

BTW, Presenting inside the menu view controller has no much difference from presenting in otherwise.

[2019-10-14 15:05] #86 closed

[2019-10-14 15:08] kukushi commented on #66
@nassifbasheer @ahbou
It's the expected behavior, you need to layout the menu controller starting from `screen Width - menu width`(check out example storyboard for more information).

[2019-10-14 15:08] #66 closed

[2019-10-14 15:08] #84 closed

[2019-10-14 15:09] kukushi commented on #88
Check out #84  for more information.

[2019-10-14 15:09] #88 closed

[2019-10-14 15:09] kukushi commented on #87
The description you provide is insufficient to understand your question.

Using the tab bar controller as the content view controller will meet your needs.

[2019-10-14 15:09] #87 closed

[2019-10-14 15:10] #72 closed

[2019-10-14 15:13] ahbou commented on #66
Thanks @kukushi. In that example the Menu's view is shifted and starts at `{65,0}`.
IMHO it shouldn't, the superview should be resized to fit `menu width`

[2019-10-14 18:37] JhonnyTawk commented on #88
@kukushi  I don't wanna use delegate

[code]

I want something similar to that

[2019-10-15 12:09] dheerajdex commented on #69
How to install version 2.0.2.
I have install version 2.0.0 through cocoapod

[2019-10-17 06:12] shraddha009 opened #89 "open side menu in multiple viewcontrollers"
How to open the same sidemenu in multiple viewcontrollers. I guess the problem is with the segue as there is only one contentView. How do i add other content views??

[2019-10-17 06:14] shraddha009 commented on #69
Just write down below line in your viewdidload method of your contentView.
  self.navigationController?.interactivePopGestureRecognizer!.isEnabled = false

[2019-10-17 06:17] rahulbbit commented on #69
@shraddha009 , this will disable swipe back to get back to previous controller, which is a default functionality of iOS to go back

[2019-10-17 06:28] #89 closed

[2019-10-17 06:29] shraddha009 commented on #89
Done by using below code in the click of sidemenu

      sideMenuController?.cache(viewControllerGenerator: { self.storyboard?.instantiateViewController(withIdentifier: "ProfileInfoVC") }, with: "ProfileInfoVC")
            sideMenuController?.cache(viewControllerGenerator: { self.storyboard?.instantiateViewController(withIdentifier: "HomeVC") }, with: "HomeVC")

[2019-10-17 06:31] shraddha009 commented on #69
Yes it will but just for one screen resolving the major bug of sidemenu

[2019-10-18 13:56] #69 closed

[2019-10-22 10:08] Natai opened #90 "MenuViewController lifeCycle"
Can I delay the viewdidload() of MenuViewController, in the demo, viewdidload() be called just when  the application launched. I want viewdidload() be called when the menu first shown by myself.

[2019-10-23 04:42] usahun commented on #67
@kukushi I have the same issue.
 App called -statusBar or -statusBarWindow on UIApplication: this code must be changed as there's no longer a status bar or status bar window. Use the statusBarManager object on the window scene instead.' please help thank you

[2019-10-25 16:46] vowave opened #91 "Reduce swipe width"
Hello,
How can I reduce the affective width for side menu to open?
I want only 10% of screen be able to open the side menu on horizontal swipe.
It would be nice if anyone could help!

[2019-11-20 06:28] craigbooker commented on #80
I am getting this error as well. Any help appreciated.

[2019-11-21 02:43] kukushi commented on #80
@pujaadcolony @Prashant961992 See the pinned issue, guys

[2019-11-27 16:08] vowave commented on #91
any help here?

[2019-11-28 14:20] Adakhan opened #92 "Reveal Menu not working from presented anotherViewController"
I send data to another tableView (ScheduleTableVC)

[code]

But in ScheduleTableVC
[code]
not working

[2019-11-29 13:14] JhonnyTawk commented on #92
same issue.

[2019-11-29 16:38] Adakhan commented on #92
Solve it with this

        let navigation = UIStoryboard.init(name: "Main", bundle: nil).instantiateViewController(withIdentifier: "SchedulePage") as! UINavigationController
        let vc = navigation.viewControllers.first as! ScheduleTableVC
        vc.text = ""

        sideMenuController?.setContentViewController(to: navigation, animated: false, completion: nil)

[2019-11-29 16:38] #92 closed

[2019-12-03 17:44] huukuntp1 commented on #80
Hi @Prashant961992 , I also same with your issue. My issue related with Status Bar. can you check Status Bar component ?

[2019-12-09 15:50] kukushi commented on #91
Setting the `SideMenuController.preferences.basic.menuWidth ` to correct value should work.

[2019-12-09 15:50] #91 closed

[2019-12-10 19:40] Adakhan opened #94 "auto login( make root = sideMenu )"
I want to go content view when I already authorized in the system and thats why I check in Appdelegate to make content view rootView. But it is not working

       let navigation = UIStoryboard.init(name: "Main", bundle: nil).instantiateViewController(withIdentifier: Constants.ViewControllerId.NewsPage) as! UINavigationController
       let contentViewController = navigation.viewControllers.first

[2019-12-10 19:47] Adakhan commented on #54
Please^ share your solution!

[2019-12-11 18:31] Adakhan commented on #94
I found a problem. The problem was with SceneDelegate, I tried to make side menu root view only in AppDelegate. I just rewrite the same code in SceneDelegate and it works.
Here is code if someone need.

     if userAuthorized {
      let rootController = UIStoryboard(name: "Main", bundle: Bundle.main).instantiateViewController(withIdentifier: "SideMenu")
      self.window?.rootViewController = roo

[2019-12-11 18:31] #94 closed

[2019-12-12 12:17] sneves79 opened #95 "PanGesture to reveal menu stop working in second viewControler inside NavigationControler"
Hello,

In sidemenu i have a button updating contentViewControler width a UINavigationControler, function below:

[code]

It opens correctly and show the NavigationControler with is root UiViewControler, and panGesture works fine and reveals/hide the side menu on swipe

In NavigationControler if i do a segue to the second UIViewControler i want to open, code below:

`performSegue(withIdentifier: "

[2019-12-13 16:13] kukushi commented on #95
@sneves79
In fact, that is implemented by design.  Inside the navigation stack, swipe to pop is a more expected result than revealing the side menu.

[2019-12-16 06:13] akshay-shah-dev opened #96 "Not get Navigation controller for push another view controller from any other view controller. ."
I have multiple storyboard => by clicking on sidemenu item open a new screen same as your provided demo =>than after on same viewController click on button I have to navigate to next screen but not getting navigation controller so I'm not able to Push another view controller.

[code]
 **@IBAction func btnPush(_ sender: Any) {
        let viewController = Main.SecondOriginate.instantiateViewControl

[2019-12-16 12:50] sneves79 commented on #95
@kukushi
Thanks for the input.
Ok, i understand. It's the correct behaviour.
Ty

[2019-12-16 12:50] #95 closed

[2019-12-18 11:58] Y2JChamp opened #98 "Pan gesture not working correctly"
Hi,
i'm facing the following issue:
When the menu is revealed (left menu) i swipe it to right again and it loses its anchor an its x position becomes greater than zero.

For this i have made a change to the library:
override func gestureRecognizerShouldBegin(_ gestureRecognizer: UIGestureRecognizer) -> Bool {
        if let panGesture = gestureRecognizer as? UIPanGestureRecognizer, isMenuRevealed,

[2019-12-19 11:45] arjunguptha123 commented on #80
i also  same issue  facing ,  how . to solve that issue

[2019-12-21 16:13] Isuru-Nanayakkara opened #99 "Question about setting segues in the IB"
Hi,

I created the setup for the menu all from the storyboard. It has 3 content view controllers.

![Screenshot 2019-12-21 at 21 37 25](https://user-images.githubusercontent.com/2551877/71310438-32f76a80-243a-11ea-9d0a-0e0e9851a8be.png)

![rsz_simulator_screen_shot_-_iphone_11_pro_-_2019-12-21_at_213425](https://user-images.githubusercontent.com/2551877/71310472-88337c00-243a-11ea-847a-17092844238

[2019-12-24 18:12] psnt143 commented on #64
how to show sidemenu open when Rotate the device?

[2020-01-03 15:55] dfabreguette-ap opened #100 "setContentViewController completion closure is loosing track of sideMenuController instance"
I stumbled upon a weird behavior, when you use "setContentViewController" completion closure outside of menu tableview controller (through segue SideMenu.Menu from a storyboard), you loose track of the sideMenuController instance as self instance refers to a controller that has no parent.

[code]
Is this normal ? If yes, then I think it should be mentioned any where in documentation.

Oh and by th

[2020-01-06 13:34] Pratikangar commented on #96
Hello,
did you get any solution?

[2020-01-06 13:54] Pratikangar commented on #96
I have done

[2020-01-06 17:09] kukushi commented on #100
You are correct. When `self` (current view controller) changes the parent side menu controller's content view controller to another view controller, `self` will be removed from the side menu controller, and it can no longer refer to the side menu controller. It's tricky but also expected.
I will update the documentation later.

[2020-01-06 17:11] kukushi commented on #99
@Isuru-Nanayakkara Using segue to change content view controller is not yet supported.

[2020-01-06 17:18] kukushi commented on #90
It's not supported so far.

[2020-01-07 07:56] dfabreguette-ap commented on #100
Allright ! thanks @kukushi to get back

[2020-01-13 05:45] akshay-shah-dev commented on #96
No i did not get any solution. Please share with me your code.

[2020-01-13 16:45] kukushi commented on #100
Updated.

[2020-01-13 16:45] #100 closed

[2020-01-25 10:10] rursache commented on #16
@fredericdnd's solution is not ideal, try embedding a navigationController in your menu and see how navBar is not scaled..

[2020-01-28 06:32] akshay-shah-dev commented on #96
i did not get any solution. Please share with me your code.

[2020-01-28 13:12] ankit0409 commented on #80
Is it any solution on this

[2020-01-28 13:26] arjunguptha123 commented on #80
Yes is there update particular Pod

Sent from my iPad

[2020-02-19 17:21] ramohanreddy opened #102 "How to navigating to slidemenucontroller in button Click or button action."

[2020-02-21 18:16] yuniquintero commented on #59
![image](https://user-images.githubusercontent.com/32275777/75060047-80349e80-54b4-11ea-85f1-a0f58c358b00.png)

Sidemenu appears in the background of a Modalviewcontroller, this happens when sidemneucontroller's preferences are set to slide + under. when it is set to above + none it doesn't occur

[2020-02-21 18:18] yuniquintero opened #103 "Side Menu Showing during Modal pop up"
![image](https://user-images.githubusercontent.com/32275777/75060262-e0c3db80-54b4-11ea-823b-b68a10bb01c6.png)
Sidemenu appears in the background of a Modalviewcontroller, this happens when sidemneucontroller's preferences are set to slide + under. when it is set to above + none it doesn't occur. Im testing on iOS 13.3.1

[2020-02-29 22:04] robertofrontado commented on #16
Solution far from ideal 😕

[2020-03-05 03:25] hafiz013 opened #106 "My content view (custom tab bar) gone first time load after view side menu it appear"
how bugs reproduce

1) load content view (custom tab bar) with menu but the content menu (tab bar) gone.
2) I click button to open menu
3) Then suddenly, custom tab bar appear.

![first_time_load](https://user-images.githubusercontent.com/6707224/75944650-39db3880-5ed3-11ea-8d27-02fc27f382ca.png)
![after_click_button](https://user-images.githubusercontent.com/6707224/75944669-45c6fa80-5ed3-11ea-85

[2020-03-12 11:08] bilal4922 opened #107 "how to change status bar style light"

[2020-03-13 15:23] kukushi commented on #107
@bilal4922
Overriding the `preferredStatusBarStyle` in the content view controller should do.

[2020-03-13 15:23] #107 closed

[2020-03-13 15:26] kukushi commented on #106
@hafiz013 Can you provide a demo project reproducing this issue?

[2020-03-15 10:55] SalilLuley opened #108 "App crash when I try to assign Google map view to SlideMenuController contentview from scene delegate."
If user has not logged in then I navigate user to login view controller, but if user has already logged in then user is navigated to dashboard. On dashboard view I have set google maps view.
In Scene delegate I check user login and perform actions accordingly. In navigateToDashboard() method setting root view controller does not work with or without UINavigationController.

Application crashes whi

[2020-03-15 15:21] kukushi commented on #108
@SalilLuley How is the crash stack trace look like?

[2020-03-16 07:59] shaikhmoin opened #109 "Set particular page in App delgate"
I want to set default page into App delegate method,I write code but its not working proper.I want set code like below,

 let isMultyCurrency : String = (UserDefaults.standard.object(forKey: CONSTANTS.ISMULTYCURRENCY) ?? "dd") as! String
            if isMultyCurrency == "1" {
               //Want open Dashboard Page

  let contentViewController = UIStoryboard(name: "Main", bundle: nil).instantia

[2020-03-16 09:51] SalilLuley commented on #108
Crashes saying : EXC_BAD_ACCESS (code=1, address=0x5448540c)

Crashes on Line
viewController.view.frame = view.bounds
in below code of sidemenuswift

extension UIViewController {

    func load(_ viewController: UIViewController?, on view: UIView) {
        guard let viewController = viewController else {
            return
        }

        // `willMoveToParentViewController:` is called automati

[2020-03-16 10:29] SalilLuley commented on #108
This bug is solved.
I was assigning mapview to view earlier.
No I added google mapview as a subview and assigned auto layout constraints and it worked seamlessly. Thank you for the help and creating such an awesome library.

Below is the code for anyones reference

view.addSubview(mapView)
        mapView.snp.makeConstraints { (make) in
            make.edges.equalToSuperview()
        }

[2020-03-16 13:15] #108 closed

[2020-03-19 18:31] sriharsha-y opened #110 "content not resizing with menuWidth"
Hello,

I don't know whether  its actually an issue with the library itself as the content in my TableViewController not get resized (width) when i set custom menuWidth for my menu. I have attached the screenshot for the same. I cross verified and all my constraints are correct. As you can see in below image the email id is not truncated which should happen when there is not enough width but thats

[2020-03-25 07:33] lawgimenez opened #111 "Swift 5.2 compiler error"
Module compiled with Swift 5.1.3 cannot be imported by the Swift 5.2 compiler:

[2020-03-25 07:54] lawgimenez commented on #111
The workaround for now is that I set BUILD_LIBRARY_FOR_DISTRIBUTION = YES;

[2020-03-25 09:10] kukushi commented on #111
@lawgimenez Is SideMenu integrated into your project using Carthage?

[2020-03-25 09:11] lawgimenez commented on #111
I’m using cocoapods

[2020-04-06 17:10] DusanEastcode commented on #22
I have also the problem first time app is installed. It takes 10 seconds to show up the menu. UIApplication.shared.keyWindow?.rootViewController = sideMenuController this part  takes 10 seconds to accomplish.

[2020-04-09 17:02] IbRoHiM-IUT commented on #30
I have a same error. Sidemenu direction is not working properly with arabic language. The navigation bar's menu icons changed. But when i press on either left menu icon or right one, the side menu shows in different sides. if I run app, it's working fine. can you help me to fix?

[2020-04-28 18:33] SebastianNYC commented on #80
does anyone have a solution? I have the same problem. But I don't access the StatusBar in my app.

[2020-04-29 06:55] arjunguptha123 commented on #80
just update the pod in our project .

On Wed, Apr 29, 2020 at 12:03 AM NewYorker <notifications@github.com> wrote:

[2020-04-30 05:17] hafiz013 opened #112 "IOS crash when set sidemenu as rootviewcontroller"
when i set sidemenu as rootview controller it is crash. Below here my sample code:

`let mainScreen = storyboard.instantiateViewController(withIdentifier: "SideMenu") as! SideMenuController
                let homeNavigationController = UINavigationController(rootViewController: mainScreen)
                self.window?.rootViewController = homeNavigationController
                self.window?.make

[2020-05-04 02:27] f0rr0 opened #113 "Can't release view controllers from memory"
It seems like view controllers cannot be released from memory.

I tried 2 approaches. Instantiating a new view controller every time and completely opting out of the caching process. Every new instance is held in memory.

With caching, clearing the cache also does not release view controllers from memory.

[2020-05-04 04:11] #113 closed

[2020-05-18 16:20] parthsit opened #114 "'Caching the Content' is not working"
When I set any view controller as a content view controller for the first time then after the second time I don't want to load it again from the start. I just need to show the screen again without any changes.

Here what I have done in my project:

1. Setup side menu programmatically
[code]
2. Cached all required controllers in 'dashboardNavController' which I have set up earlier
[code]
3. Opened

[2020-05-24 16:50] SebastianNYC commented on #80
It still doesn't work.

`import UIKit
import Firebase
import CoreData
import FBSDKCoreKit
import FBSDKLoginKit

@UIApplicationMain
class AppDelegate: UIResponder, UIApplicationDelegate {

    var window: UIWindow?

    func application(_ application: UIApplication, didFinishLaunchingWithOptions launchOptions: [UIApplicationLaunchOptionsKey: Any]?) -> Bool {
        // Override point for customizat

[2020-05-25 16:11] kukushi commented on #111
@lawgimenez It works fine in my environment. Did the error still happen?

[2020-05-25 16:13] #90 closed

[2020-05-25 16:13] #99 closed

[2020-05-25 16:15] kukushi commented on #80
@SebastianNYC Which version of SideMenu are you using?

[2020-05-25 16:16] kukushi commented on #112
@hafiz013 Can you provide functional code for reproducing this issue?

[2020-05-25 16:17] kukushi commented on #114
@parthsit Can you check whether `lazyCachedViewControllerGenerators` store the right view controller?

[2020-05-25 16:19] kukushi commented on #110
It's a limitation of the library. The menu width is only allowed set before setup and the afterward changes will not work.

[2020-05-25 16:19] #110 closed

[2020-05-25 16:21] kukushi commented on #109
@shaikhmoin Your code seems correct.

[2020-05-25 16:26] kukushi commented on #96
I'm not 100% sure what's the problem, but in most cases, you may need to create the navigation controlelr manually.

[2020-05-26 00:20] lawgimenez commented on #111
@kukushi I have not used this library anymore.

[2020-05-26 00:20] #111 closed

[2020-05-26 20:00] cmaulini opened #115 "Starting app with SideMenu revealed"
I want to start my app with the SideMenu revealed. So I try, naively, this code in my "SideMenu.Content" UIViewController
[code]

Seem it's work, but this message appears in the console
[code]
Could you help me?

[2020-06-04 07:54] ferologics opened #117 "Pan gesture in horizontal scroll views"
Hi, is there any support for the pan gesture when horizontal scroll view content offset is max offset? It doesn't seem to work on those views.

[2020-06-29 12:04] ShoaibPathan opened #118 "Whenever i switch tabs i am getting this exception"
Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'Not possible to remove variable:	464: <unknown var (bug!) with engine as delegate:0x281f99380>{id: 33109} colIndex:74 from engine <NSISEngine: 0x11e7444e0>{ delegate:0x11e65b330
EngineVars:
	  0: objective{id: 28349} rowIndex:0

[2020-06-30 05:10] ShoaibPathan commented on #118
Any help with this issue

[2020-06-30 08:14] kukushi commented on #118
@ShoaibPathan Can you provide a demo for reproducing this issue?

[2020-06-30 08:36] ShoaibPathan commented on #118
i am getting 'Not possible to remove variable:	463: <unknown var (bug!) with engine as delegate:0x2811d5a00>{id: 18760} colIndex:122 from engine <NSISEngine: 0x116276c10>{ delegate:0x114a848a0
EngineVars: exception

[2020-06-30 08:38] ShoaibPathan commented on #118
Rows:
	  0: objective{id: 13885} == {objective 0x282894500: <1100:60.5, 750:1437.22, 252:200, 251:-261008, 250:-64924.5, 249:-130482, 248:-22.5> + <750:-1, 250:1>*0x28289b570.marker{id: 13975, var: 90} + <750:1, 251:1>*0x282ff42a0.negError{id: 14445, var: 427} + <1100:-0.5>*0x282ff01e0.posErrorMarker{id: 14312, var: 398} + <750:1, 250:1>*0x282ff4780.negError{id: 14457, var: 343} + <1100:-0.5, 250:

[2020-08-04 17:09] Bhavesh091 commented on #67
[code]

[2020-08-12 10:46] Afrah-Tayyab opened #119 "side menu is not presenting over the tab bar."
I have implemented tab bar and on 1 of the tab bar i've the side menu is showing. but when i show the side menu it doesn't cover the tab bar... how should I fully present my side menu over UITabBar.

[2020-09-17 07:41] ramesh09ios opened #120 "Unable to change colour of the side menu above gray colour transparent view"
Unable to change colour of the side menu above gray colour transparent view

[2020-10-10 09:28] codeaegisit commented on #30
@kukushi I'm facing the same issue again. Is their any solution for this ?

[2020-10-10 09:31] codeaegisit opened #121 "Sidemenu direction is not working properly first time in Hebrew language(RTL)"
It works after relaunching the app. Is there something that I missed in the implementation ?

[2020-11-07 02:57] delmarz opened #123 "Right direction support with custom view controller?"
The example only showing left direction,  How do you achieve right direction with different viewController (side menu).

[2020-11-15 14:16] kukushi commented on #123
@delmarz The demo demonstrates how to use the right direction.

[2020-11-15 14:16] #123 closed

[2020-11-15 15:48] delmarz commented on #123
It does. But it only handle single side menu. How about handle multiple
side menu, like for example one is for the left and right side with
different layout.

The example only shows single side menu that will be switch into right side
menu.

On Mon, Nov 16, 2020 at 12:16 AM Xing He <notifications@github.com> wrote:

[2020-11-15 16:05] kukushi commented on #123
Currently, only one side menu (left or right) is suppoerted.

[2020-11-16 05:34] delmarz commented on #123
Could you support that as well? This is good when dealing
'Filtering/Sorting' features in right side menu. Its a big win for this
library :)

On Mon, Nov 16, 2020 at 2:05 AM Xing He <notifications@github.com> wrote:

[2020-12-30 20:05] madeofmoney commented on #71
Can you please merge this. It's almost impossible to drag the menu out with your finder on iPhone X + models.

[2020-12-30 20:06] madeofmoney commented on #71
@kukushi can you please just add this property yourself. We need this desperately for larger phones.

[2020-12-30 20:07] madeofmoney commented on #71
It's been 2 years. He isn't going to make a PR.

[2020-12-30 20:08] madeofmoney opened #124 "Loses it's gesture in content view constantly."
Swipe back and forth with these options.

SideMenuController.preferences.basic.menuWidth = UIScreen.main.bounds.size.width
            SideMenuController.preferences.basic.statusBarBehavior = .slide
            SideMenuController.preferences.basic.position = .sideBySide
            SideMenuController.preferences.basic.direction = .left
            SideMenuController.preferences.basic.enablePanGest

[2020-12-30 20:36] #124 closed

[2021-01-03 02:59] kukushi commented on #71
Shipped in 2.0.7

[2021-01-03 02:59] #71 closed

[2021-01-19 06:21] parthv21 opened #125 "Adding custom table view"
Is it possible to add a custom side nav table view and have its `didSelect` actions to trigger your calls to revel and hide view controllers?

[2021-02-23 06:38] zeeshanTeks opened #126 "Crashing on iOS 14.4"
App is crashing on `setContentViewController` when `sideMenuController?.setContentViewController(with: "\(8)", animated: Preferences.shared.enableTransitionAnimation)` is called.

Error:

**Fatal error: [SideMenu] View controller associated with 8 not found!: file SideMenuSwift/SideMenuController.swift, line 583**

![Screenshot 2021-02-23 at 12 15 56 PM](https://user-images.githubusercontent.com/4

[2021-02-23 15:52] kukushi commented on #126
@zeeshanTeks Can you check if the `8` view controller has been cached?

[2021-02-26 05:25] zeeshanTeks commented on #126
@kukushi : Yes the view controller is supposed to be cached. This works fine in lower versions, i.e., iOS 14.3 or lower.

[2021-03-02 08:30] zeeshanTeks commented on #126
Apologise. This works fine. I was calling the incorrect view controller. It wasn't working on iOS 14.3 as well.

[2021-03-02 08:30] #126 closed

[2021-03-11 15:41] kukushi commented on #119
If you want the tab bar covered by the side menu, considering setting the tab bar view controller as the content view controller.

[2021-05-03 20:34] Rj707 commented on #87
@kukushi I am using tab bar controller as the content view controller, but the tab is not showing for me whenever I select any of the item of the Side Menu and Side Menu changes my content view controller.

[2021-05-05 17:00] kukushi commented on #87
When selecting an item in the Side menu, the content view controller will change and that means if the new view controller isn't a tab bar view controller, the tab bar will disappear.

[2021-09-22 09:24] tomerpetel commented on #121
@codeaegisit did you manage to a solution to your issue?

[2021-09-29 06:15] msalmanST opened #129 "Add an option for adding blur effect on the shadow"
Hi,
I would like to suggest if you can add an option for showing blur effect on the shadow like in this commit [here](https://github.com/msalmanST/SideMenu/commit/4afa00ed33bb54c51a840e56a65879e4be748f4e)

[2021-10-07 09:36] #129 closed

[2021-10-11 09:20] dylanhand opened #131 "Submit v2.0.8 to Cocoapods?"
It looks like version 2.0.8 has been released but not published to Cocopods, [based on their spec repo](https://github.com/CocoaPods/Specs/tree/master/Specs/c/0/3/SideMenuSwift).

Are there plans to publish it?:)

[2021-10-12 18:46] #131 closed, assigned to nobody

[2021-10-28 13:20] KaranVakharia789 opened #132 "How to add AlertView in didselect sidemenu cell clicked?"
I want to add alertView with done and cancel button but i clicked cell Logout menu at that time my current Viewcontroller popToViewController Login Screen and after show Alert but i need on done button popToViewController my code

    override func viewDidLoad() {
        super.viewDidLoad()
            sideMenuController?.cache(viewControllerGenerator: {
                self.storyboard?.instantia

[2021-10-29 18:27] KaranVakharia789 commented on #132
I was done
remove below code from didselect and import in alertaction ok clicked
if let identifier = self.sideMenuController?.currentCacheIdentifier() {
                print("[Example] View Controller Cache Identifier: \(identifier)")
            }

[2021-10-30 12:38] KaranVakharia789 commented on #132
how to implement alertview in sidemenu clicked and after ok clicked popToViewController on login page

[2021-11-09 13:41] meffistofel commented on #113
@f0rr0 how you fix?

[2022-03-31 14:35] bvanderw opened #134 "UITableViewController used as menu not showing cell contents (UI created entirely in code)"
Using the master branch of SideMenu and iOS 15.2.

In apps where the UI is created completely in code,  I am having trouble getting table cell content to show up when using a UITableViewController as the menu controller.

In the attached test app, I am using essentially the same UITableViewController class for both the content controller and the menu controller. You will notice that the content co

[2022-04-02 20:55] bvanderw commented on #134
Duh. The menu width was too narrow to show any content.

[2022-04-02 20:55] #134 closed

[2022-06-23 19:55] PatilManoj1717 opened #138 "Please add steps for integration via SwiftPackageManager"
Please add steps for integration via SwiftPackageManager

[2022-07-03 03:14] kukushi commented on #138
Updated. Check the `Installation` section in the README.

[2022-07-03 03:14] #138 closed

[2022-07-04 09:06] PatilManoj1717 commented on #138
Thanks @kukushi for great work.

But I am getting following error while adding it via [Tuist](https://tuist.io)

error: Dependencies could not be resolved because root depends on 'swift-docc-plugin' 1.0.0..<2.0.0.
'swift-docc-plugin' >= 1.0.0 cannot be used because 'swift-docc-plugin' 1.0.0 contains incompatible tools version (5.6.0) and no versions of 'swift-docc-plugin' match the requirement 1.0

[2022-10-16 08:02] #125 closed